html{
  background-color: black;
}

header{
  height: 5vh;
  background-color: red;
  text-align: center
}
header h1{
  display: inline;
  margin: 0 2%;
}

.App-board{
  height: 95vh;
  background-color: blue;
  display: grid;
  grid-template-rows: repeat(4,19%);
  grid-template-columns: repeat(3,19%);
  gap: 10px 10px;
}